/*Default*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", serif;
}
body {
  display: flex;
  flex-direction: row;
  flex: 0 1 auto;
  width: 100%;
  background-color: #f3f4ff;
}
a {
  color: inherit;
  text-decoration: none;
}

/* SIDEBAR */
.sidebar-container {
  /* position */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  /* size */
  width: max-content;
  height: 100%;
  padding: 1rem 1rem 10rem 1rem;
  gap: 0.5rem;
  /* style */
  background-color: #4d44b5;
  z-index: 10;
  position: fixed;
}

/* LOGO */
.logo-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
  cursor: pointer;
}
.logo {
  /* size */
  border-radius: 0.75rem;
  padding: 0.2rem;
  width: 2rem;
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  /* style */
  background-color: #fb7d5b;
  text-align: center;
  color: #fff;
  font-weight: 700;
  font-size: 1.5rem;
}
.logo-text {
  /* style */
  color: #fff;
  font-weight: 700;
  font-size: 1.5rem;
  cursor: pointer;
}

/* PROFILE */
.profile-container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  justify-content: center;
  align-items: center;
}
.profile-picture img {
  width: 8rem;
  object-fit: contain;
}
.profile-items {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.profile-items h3 {
  color: #fff;
  font-weight: 700;
  font-size: 1.2rem;
}
.profile-items p {
  color: #c1bbeb;
  font-weight: 300;
  font-size: 1rem;
}
.profile-items button {
  margin: 1rem;
  padding: 0.5rem 2rem;
  border: 1px solid white;
  border-radius: 1.5rem;
  width: fit-content;
  background-color: transparent;
  color: #fff;
  font-weight: 500;
  font-size: 1rem;
  cursor: pointer;
}
.profile-items button:hover {
  background-color: #fff;
  color: #4d44b5;
}
/* MENU */
.menu-container {
  display: flex;
  flex-direction: column;
  margin-left: 0.5rem;
  margin-top: 0.5rem;
}
.menu-items {
  display: flex;
  flex-flow: row wrap;
  gap: 2rem;
  padding: 1.2rem;
  align-items: center;
  background-color: transparent;
}
.menu-items i {
  display: flex;
  color: #c1bbeb;
  font-size: 1.5rem;
  width: 1.5rem;
  align-content: center;
  justify-content: center;
}
.menu-items span {
  color: #c1bbeb;
  font-size: 1rem;
  text-align: left;
}
.menu-items:hover {
  background-color: #f3f4ff;
  border-top-left-radius: 1.5rem;
  border-bottom-left-radius: 1.5rem;
  width: calc(100% + 3rem);
  z-index: 2;
  cursor: pointer;
}
.menu-items:hover i,
.menu-items:hover span {
  color: #4d44b5;
}
/* MAIN CONTENT  */
main {
  display: flex;
  flex-direction: column;
  width: 75%;
  justify-content: space-evenly;
  margin: 1rem 1rem 2rem 20rem;
  gap: 1.25rem;
}
/* HEADER */
.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.header h1 {
  color: #303972;
  font-size: 1.75rem;
}
.searchbar-container {
  background-color: #fff;
  padding: 0.25rem 1rem;
  border-radius: 1rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.75rem;
}
.searchbar-container input {
  width: 12rem;
  padding: 0.5rem;
  border: none;
  opacity: 0.5;
  font-size: 1rem;
}
.searchbar-container i {
  color: #4d44b5;
}
/* BODY */
#courses-container {
  display: grid;
  grid-template-columns: auto auto;
  column-gap: 2rem;
  row-gap: 2rem;
  padding: 0.5rem;
}
.course-item {
  background-color: #fff;
  padding: 1rem;
  border-radius: 1.5rem;
  border-left: 2rem solid #4d44b5;
  display: flex;
  flex-direction: column;
  position: relative;
}
.course-item:nth-child(3),
.course-item:nth-child(4) {
  border-left: 2rem solid #fb7d5b;
}
.course-item:nth-child(5),
.course-item:nth-child(6) {
  border-left: 2rem solid #fcc43e;
}
.course-item:nth-child(7),
.course-item:nth-child(8) {
  border-left: 2rem solid #303972;
}
.fa-circle-right::before {
  position: absolute;
  font-size: 2rem;
  right: 0;
  padding: 1rem;
  bottom: 25%;
  color: #4d44b5;
  cursor: pointer;
}
h3 {
  color: #303972;
  font-weight: 600;
}
p {
  color: #a098ae;
  font-weight: 400;
  font-size: 0.85rem;
  padding: 0.2rem 0 1.25rem 0;
}
.date-container,
.time-container {
  display: flex;
  flex-direction: row;
  gap: 0.75rem;
  align-items: center;
  padding-bottom: 0.5rem;
}
.date-container span,
.time-container span {
  color: #303972;
  font-size: 0.85rem;
}
.date-container i {
  color: #fcc43e;
}
.time-container i {
  color: #fb7d5b;
}
